[submodule "projects/railwayEmpireGuide"]
	path = projects/railwayEmpireGuide
	url = git@github.com:blaulaub/railwayEmpireGuide.git
[submodule "projects/lagrange-points"]
	path = projects/lagrange-points
	url = git@github.com:blaulaub/lagrange-points.git
[submodule "knowledge/katas"]
	path = knowledge/katas
	url = git@github.com:blaulaub/katas.git
